/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
*.php~
*.yml~
*.standby
/web/upload/avatars/
!/web/upload/avatars/.gitkeep
/app/Resources/vendor/
!/app/resources/vendor/.gitkeep
/app/Resources/assets/
!/app/resources/assets/js/.gitkeep
/node_modules/
