{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Bienvenue sur FilmStarsEvaluation</h1>
            </div>

            <div id="links">
                <ul>
                    <li><a href="{{ path('user_registration') }}">Inscription</a></li>
                    <li><a href="{{ path('movies_list') }}">Liste de Films Evalués</a></li>
                    <li><a href="file://{{ readme_path }}">README</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
