{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <div id="title">
                <h1>Movie Show</h1>
            </div>

            <div id="movie_list">
                <p>This is the MOVIE shown</p>
            </div>

        </div>
    </div>

{% endblock %}